<h1>{{ title }}</h1>
<p>{{ content }}</p>

<label>Select Country:</label>
<select (change)="onCountryChange($event)">
  <option value="" disabled selected>Select a country...</option>
  <option *ngFor="let country of countries" [value]="country">
    {{ country }}
  </option>
</select>

<div *ngIf="cities.length">
    <label>Select City:</label>
    <select>
      <option value="" disabled selected>Select a city...</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>
  