<h1>{{ title }}</h1>
<p>{{ content }}</p>

<p>{{ country }}</p>
<select (change)="onCountryChange($event)">
  <option value="" disabled selected>{{ countryOpt }}</option>
  <option *ngFor="let country of countries" [value]="country">
    {{ country }}
  </option>
</select>

<div *ngIf="cities.length">
    <p>{{city}}</p>
    <select>
      <option value="" disabled selected>{{ cityOpt }}</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>
  