<div class="sidebar" [class.collapsed]="!isExpanded">
  <button class="toggle-btn" (click)="toggleSidebar()">
    {{ isExpanded ? "-" : "+" }}
  </button>

  <ul>
    <li *ngFor="let item of sidebar">
      <div class="menu-item" (click)="item.subMenu ? toggleDropdown(item.label) : null">
        <a *ngIf="!item.subMenu" [href]="item.path">{{ item.label }}</a>
        <!-- <span *ngIf="item.subMenu">{{ item.label }} &#8681;</span> -->
         <!-- ca sa se schimbe arrow-ul -->
        <span *ngIf="item.subMenu">
          {{ item.label }}
          <span [innerHTML]="dropdowns[item.label] ? '&#8679;' : '&#8681;'"></span>
        </span>
      </div>

      <ul *ngIf="item.subMenu && item.subMenu.length > 0 && dropdowns[item.label]" class="submenu">
        <li *ngFor="let subItem of item.subMenu">
          <a [href]="subItem.path">{{ subItem.label }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
