<div class="sidebar" [class.collapsed]="!isExpanded">
  <button class="toggle-btn" (click)="isExpanded = !isExpanded">
    {{ isExpanded ? "-" : "+" }}
  </button>

  <ul>
    <li *ngFor="let item of sidebar">
      <div class="menu-item" (click)="item.subMenu ? toggleDropdown(item.label) : navigateTo(item.path)">
        <span>{{ item.label }}</span>
        <span *ngIf="item.subMenu" [innerHTML]="dropdowns[item.label] ? '&#8679;' : '&#8681;'"></span>
      </div>
      <ng-container >
      <ul *ngIf="item.subMenu && dropdowns[item.label]" class="submenu">
        <li *ngFor="let subItem of item.subMenu">
          <a (click)="navigateTo(subItem.path)">{{ subItem.label }}</a>
        </li>
      </ul>
      </ng-container>

    </li>
  </ul>
</div>